@import url('https://fonts.googleapis.com/css2?family=Play&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
}

/*font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif;*/

body {
    background: #00FFFF;
}

canvas {
    background:black;
    display: block;
    margin: 40px auto;
    border: 2px solid purple;
    border-radius: 10px;
}

#love {
    display: flex;
    justify-content: center;
    align-items: center;
}

#love > img {
    width: 34px;
    padding: 10px;
}

@media (max-width: 700px){
    canvas {
        width: 80%;
        margin: 30px auto;
    }
}