@import url('https://fonts.googleapis.com/css2?family=Play&family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
}

/*font-family: 'Righteous', cursive;
font-family: 'Play', sans-serif;*/

body {
    background: #00FFFF;
}

canvas {
    background:black;
    display: block;
    margin: 40px auto;
    border: 2px solid purple;
    border-radius: 10px;
}

#love {
    display: flex;
    justify-content: center;
    align-items: center;
}

#love > span {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 16px;
    color: rgb(37, 37, 37);
}

#love > img {
    width: 34px;
    padding: 10px;
}

#love > span > a {
    text-decoration: none;
    color: rgb(4, 80, 4);
}

@media (max-width: 800px){
    canvas {
        width: 80%;
        margin: 30px auto;
        height: auto;
    }

    #love {
        flex-wrap: wrap;
    }

    #love > span {
        font-size: 14px;
    }

    #love > img {
        width: 28px;
    }
}