* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgreen;
}

canvas {
    background:black;
    display: block;
    margin: 20px auto 0 auto;
    border: 2px solid purple;
    border-radius: 5px;
    width: 480px;
    height: 320px;

}